

body {
    background-color: #0c8484;
}

body {
    color: #0c0c0c;
}


body
{
    font-family: "Leelawadee UI", Segoe, Arial, sans-serif
}

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
}
body {
    background-image: linear-gradient(lightgreen, lightseagreen);
}

p {
    font-family: verdana;
    font-size: 20px;
}

/*codes from w3schools.com*/
